COMPOSE_PROJECT_NAME=pipeline
CADDY_LISTEN_HTTP=127.0.0.1:80
CADDY_LISTEN_HTTPS=127.0.0.1:443
LISTEN_TINT=127.0.0.1:8012
LISTEN_POSTGRES=127.0.0.1:5432
LISTEN_MONGO=127.0.0.1:27017
LISTEN_DOCUMENTS=127.0.0.1:30900
LISTEN_BIENCODER=127.0.0.1:30300
LISTEN_INDEXER=127.0.0.1:30301
LISTEN_NILCLUSTER=127.0.0.1:30305
LISTEN_NILPREDICTOR=127.0.0.1:30303
LISTEN_PIPELINE=127.0.0.1:30315
LISTEN_SPACYNER=127.0.0.1:30304
LISTEN_TINTNER=127.0.0.1:30316
POSTGRES_PASSWORD=secret
MONGO_ROOT_PASSWORD=secret
MONGO_PASSWORD=secret
MONGO=mongodb://usr:$MONGO_PASSWORD@mongo/main
LOCAL_WORKSPACE_FOLDER=/path/to/
SPACY_MODEL=it_core_new_sm
SPACY_TAG=spacy_v0.1.0
PIPELINE_PASSWORD=secret
INDEXER_LANGUAGE=en
INDEXER_INDEX=hnsw:models/faiss_hnsw.pkl:0:r,flat:models/flat_kbp.pkl:1:rw
INDEXER_VECTOR_SIZE=1024
BIENCODER_CONFIG=models/biencoder_model.bin
BIENCODER_MODEL=models/biencoder_config.json
NILPREDICTOR_ARGS=--nil-bi-model models/nilp_under_bi_max_levenshtein_jaccard_model.pickle --nil-bi-features 'max_bi,levenshtein,jaccard'
FQDN=example.com
LOCAL_IP=127.0.0.1
PIPELINE_ADDRESS=http://127.0.0.1
RESTART_POLICY=no
UI_ACCESS_USERNAME: user
UI_ACCESS_PASSWORD: pppppasswd
UI_NEXTAUTH_SECRET: ssssecret
UI_NEXTAUTH_URL: http://127.0.0.1:80/api/auth
UI_NEXT_PUBLIC_BASE_PATH:
UI_NEXT_PUBLIC_FULL_PATH: http://127.0.0.1:80/
