COMPOSE_PROJECT_NAME=pipeline
RESTART_POLICY=no
LOCAL_WORKSPACE_FOLDER=/path/to/
CADDY_LISTEN_HTTP=127.0.0.1:80
PIPELINE_ADDRESS=http://127.0.0.1
PIPELINE_WORKERS=1
PIPELINE_TIMEOUT=300
LISTEN_UI=127.0.0.1:33000
POSTGRES_PASSWORD=secret
MONGO_ROOT_PASSWORD=secret
MONGO_PASSWORD=secret
MONGO=mongodb://usr:$MONGO_PASSWORD@mongo/main
INDEXER_LANGUAGE=en
INDEXER_INDEX=hnsw:models/faiss_hnsw.pkl:0:r,flat:models/flat_kbp.pkl:1:rw
INDEXER_VECTOR_SIZE=1024
UI_ACCESS_USERNAME=user
UI_ACCESS_PASSWORD=pppppasswd
UI_NEXTAUTH_SECRET=ssssecret
UI_NEXTAUTH_URL=http://127.0.0.1:80/api/auth
UI_NEXT_PUBLIC_BASE_PATH=
UI_NEXT_PUBLIC_FULL_PATH=http://127.0.0.1:80/
UI_API_LLM=http://127.0.0.1:7862
UI_API_INDEXER=http://127.0.0.1:7863
TEXT_GENERATION_ADDR=127.0.0.1:7862
TEXT_GENERATION_MODEL="some-model"
ELASTIC_PORT=9200
QAVECTORIZER_ADDR=127.0.0.1:7863
HOST_BASE_URL=127.0.0.1
DOCS_PORT=80
CHROMA_PORT=8000
SENTENCE_TRANSFORMER_EMBEDDING_MODEL="some-model"
SENTENCE_TRANSFORMER_DEVICE="cuda:0"
RABBITURL=amqp://guest:guest@rabbitmq:5672/
RABBIT_ADDR=127.0.0.1:5672
RABBIT_MANAGEMENT_ADDR=127.0.0.1:15672
RMQ_BIENCODER=biencoder
BIENCODER_TIMEOUT=30
NILPREDICTOR_TIMEOUT=30
INDEXER_TIMEOUT=30
RMQ_INDEXER=indexer