COMPOSE_PROJECT_NAME=pipeline
CADDY_LISTEN_HTTP=127.0.0.1:80
PIPELINE_ADDRESS=http://127.0.0.1
PIPELINE_ARGS=--api-baseurl $PIPELINE_ADDRESS
LISTEN_UI=127.0.0.1:33000
POSTGRES_PASSWORD=secret
MONGO_ROOT_PASSWORD=secret
MONGO_PASSWORD=secret
MONGO=mongodb://usr:$MONGO_PASSWORD@mongo/main
LOCAL_WORKSPACE_FOLDER=/path/to/
SPACY_MODEL=it_core_new_sm
SPACY_TAG=spacy_v0.1.0
PIPELINE_PASSWORD=secret
INDEXER_LANGUAGE=en
INDEXER_INDEX=hnsw:models/faiss_hnsw.pkl:0:r,flat:models/flat_kbp.pkl:1:rw
INDEXER_VECTOR_SIZE=1024
BIENCODER_CONFIG=models/biencoder_model.bin
BIENCODER_MODEL=models/biencoder_config.json
NILPREDICTOR_ARGS=--nil-bi-model models/nilp_under_bi_max_levenshtein_jaccard_model.pickle --nil-bi-features 'max_bi,levenshtein,jaccard'
RESTART_POLICY=no
UI_ACCESS_USERNAME=user
UI_ACCESS_PASSWORD=pppppasswd
UI_NEXTAUTH_SECRET=ssssecret
UI_NEXTAUTH_URL=http://127.0.0.1:80/api/auth
UI_NEXT_PUBLIC_BASE_PATH=
UI_NEXT_PUBLIC_FULL_PATH=http://127.0.0.1:80/
TRIE_NAME=kb
PATH_TO_SAVED_TRIES=/path/to/trie
MERGE_PATH_TO_TYPES=/home/app/models/mergener/types.csv
MERGE_PATH_TO_TYPE_RELATION_CSV=/home/app/models/mergener/type_relation_df.csv
MERGE_PATH_TO_ANNSET_PRIORITY=/home/app/models/mergener/annset_priority.json
SECTIONATOR_DISTRIBUZIONE_TERRITORIALE_UFFICI=/home/app/models/sectionator/distribuzione_territoriale_uffici.csv
POSTPROCESS_TYPES_MAPPING=mapping.json
CLUSTERING_MODEL=/home/app/models/clustering/model.sav
