{
auto_https off
}

http:// {
	handle /api/pipeline* {
		reverse_proxy pipeline:80
	}
	handle_path /api/mongo/* {
		rewrite * /api/{path}
		reverse_proxy documents:3001
	}
	respond "404 Not Found" 404
}
