import /etc/caddy/Caddyfile.d/*

(main) {
	handle /api/blink/biencoder* {
		reverse_proxy biencoder:80
	}
	handle /api/indexer* {
		reverse_proxy indexer:80
	}
	handle /api/nilprediction* {
		reverse_proxy nilpredictor:80
	}
	handle /api/spacyner* {
		reverse_proxy spacyner:80
	}
	handle /api/tintner* {
		reverse_proxy tintner:80
	}
	handle /api/nilcluster* {
		reverse_proxy nilcluster:80
	}
	handle /api/pipeline* {
		reverse_proxy pipeline:80
	}
	handle_path /api/mongo/* {
		rewrite * /api/{path}
		reverse_proxy documents:3001
	}

	import /etc/caddy/Caddyfile.main.d/*

	respond "404 Not Found" 404

}

http://{$LOCAL_IP} {
	import main
}

{$FQDN} {
	basicauth {
		import /etc/caddy/pwdfile
	}
	import main
}

