datasets
loralib
sentencepiece
# git+https://github.com/huggingface/transformers.git
transformers
accelerate
bitsandbytes
# git+https://github.com/huggingface/peft.git
peft
gunicorn
uvicorn
fastapi
scipy
pydantic==1.10.9